*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

#key-person-pic
{
    width: 150px;
}

.no-display
{
    display: none;
}

.gray-hero
{
    background-color: rgba(255, 255, 255, 0.604);
}

.dark-green-hero
{
    background-color: rgba(197, 213, 187, 0.129);
}

.dark-green-2-hero
{
    background-color: rgba(167, 199, 144, 0.4);
}

.dark-peach-hero
{
    background-color: rgba(252, 230, 214, 0.5);
}

.opa-09
{
    opacity: 0.9;
}

.rborder-25
{
    border-radius: 25px;
}

.flex-0
{
    flex-grow: 0;
}

.flex-085
{
    flex-grow: 0.85;
}

.flex-080
{
    flex-grow: 0.80;
}

.flex-070
{
    flex-grow: 0.70;
}

.flex-065
{
    flex-grow: 0.65;
}

.flex-015
{
    flex-grow: 0.15;
}

.flex-020
{
    flex-grow: 0.20;
}

.flex-030
{
    flex-grow: 0.30;
}

.flex-035
{
    flex-grow: 0.35;
}

.bg-img-container
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-img-bluish-hue
{
    background-color: rgba(109, 177, 245, 0.602); /* Blueish-greish hue with transparency */
    background-blend-mode: overlay; /* Blend the background image and color */
}

.bg-img-greenish-hue
{
    background-color: rgba(155, 244, 199, 0.502); 
    background-blend-mode: overlay;
}

.bg-img-peach-hue 
{
    background-color: rgba(255, 218, 185, 0.6); /* Peach hue with transparency */
    background-blend-mode: overlay;
}

.bg-lock-img
{
    background-image: url("../img/locks.jpg");
}

.bg-circular-lock-img
{
    background-image: url("../img/circular-key.jpg");
}

.bg-envelope-img
{
    background-image: url("../img/envelope.jpg");
}

.modal-backdrop
{
    z-index: -1;
    opacity: 0;
}

/* Default width for small screens */
.hero{
    width: 100%;
}

.fsize-150
{
    font-size: 1.5rem;
}

.fsize-120
{
    font-size: 1.2rem;
}

.hover-blue:hover
{
    color: rgb(2, 49, 101);
}

.clicky
{
    cursor: pointer;
}

.trans-color-03
{
    transition: color 0.3s ease;
}

/* Adjust width for medium screens */
@media (min-width: 576px) {
    .hero{
        width: 75%;
    }
}

/* Adjust width for large and larger screens */
@media (min-width: 992px) {
    .hero {
        width: 50%;
    }
}